<div>
    <h3>Angular root:</h3>
    <app asp-prerender-module="ClientApp1/dist/app1-main-server">Loading...</app>

    @*App should be imported below root decorator declaration*@
    <script src="~/dist/angular.bundle.js"></script>
    <script src="~/dist/app1-main-client.js"></script>
</div>