<div>
    <h3>Angular root:</h3>
    @*<component-root>Loading...</component-root>*@
    <app asp-prerender-module="ClientApp1/dist/main-server">Loading...</app>

    @*App should be imported below root decorator declaration*@
    <script src="~/dist/angular.bundle.js"></script>
    <script src="~/dist/bundle.js"></script>
    <script src="~/app1/app1-main-client.js"></script>
</div>